.parte-2 {
  background: #fff;
  margin: 0px;
  position: relative;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.sobre-titulo {
  margin: 0px;
  /* font-size: calc(16px + 10 * ((100vw - 320px) / 680)); */
  text-align: center;
  font-size: 3rem;
}

.sobre-texto p {
  display: inline-block;
  text-align: left;
  line-height: 2em;
  font-size: calc(16px + 5 * ((100vw - 320px) / 680));
}

.sobre-texto {
  margin-left: 20vh;
  margin-right: 20vh;
  text-align: center;
  margin-bottom: 2em;
}
